@tailwind base;
@tailwind components;
@tailwind utilities;

/* PRO colors */
:root{
  --bg: #f8fafc;
  --card: #ffffff;
  --muted: #6b7280;
  --accent: #2563eb;
}
body { background: var(--bg); font-family: Inter, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial; }
