services:
  - type: web
    name: chatme-backend
    env: node
    rootDir: backend
    buildCommand: "npm install"
    startCommand: "node server.js"
    plan: free
    envVars:
      - key: PORT
        value: 10000

  - type: web
    name: chatme-frontend
    env: static
    rootDir: frontend
    buildCommand: "npm install && npm run build"
    staticPublishPath: "dist"
    plan: free
